body{
    background-color: darkblue;
    color:lightblue;
}
.container{
background-color: cadetblue;
color: blue;
border-color: black;
border-style: solid;


}
.temperature-description{
    text-transform: uppercase;
}
